// Colors

  // Color
  $light-blue: #22d3ee;

  // Neutral
  $off-white: #CBD5E1;
  $black: #000;

// Gradients
  $titles-gradient: linear-gradient(105deg, rgba(34,211,238,1) 0%, rgba(14,165,233,1) 100%);
  $green-button-gradient: linear-gradient(180deg, rgba(16,185,129,1) 0%, rgba(190,242,100,1) 100%);
  $blue-button-gradient: linear-gradient(180deg, rgba(124,58,237,1) 0%, rgba(96,165,250,1) 100%);
