.articles {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  margin: 1rem auto 0;
  padding: 1rem;
  max-width: 800px;
  

  h1, h2, h3 {
    background-image: linear-gradient(105deg, rgba(34,211,238,1) 0%, rgba(14,165,233,1) 100%);;
		background-clip: text;
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		color: black;
  }

  h1 {
    font-size: 3rem;
    font-weight: 700;
    
  }

  h2 {
    font-size: 1.5rem;
    

  }

  h3 {
    font-size: 1.3rem;
    text-align: center;
  }

  p {
    font-size: 1.2rem;
    
  }

  img {
    width: 80%;
    
  }

  a {
    color: #1a73e8;
    text-decoration: none;
    font-weight: 700;
    font-size: 2rem;
  }
}