@use '../../global/styles/variables';

.header {
	display: flex;
	justify-content: space-between;
  padding: 1rem;
	max-width: 1150px;
	margin: 0 auto;

	.container {
		display: flex;
		align-items: center;
		gap: 1rem;
	}

	.icon, .menu {
		color: variables.$light-blue;
		font-size: 1.8rem;
	}

	.menu {
		padding: 0.3rem;
		border: 2px solid transparent;
		
	}
	
	.open {
		border: 2px solid variables.$light-blue;
		border-radius: 5px;
	}

	h2 {
    display: inline-block;
		font-size: 1.8rem;
		font-weight: bold;
		background-image: variables.$titles-gradient;
		background-clip: text;
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		color: variables.$black;
	}

	nav {
		display: none;
	}

	@media screen and (min-width: 640px) {
		.menu {
			display: none;
		}

		nav {
			display: flex;
			align-items: center;
			gap: 1.5rem;

			a {
				text-decoration: none;
				font-size: 1.5rem;
				font-weight: bold;
				color: variables.$off-white;

				&.active {
					color: variables.$light-blue;
				}
			}
		}
	}
	
}

.open {
	display: flex;
}

.closed {
	display: none;
}